* {
    margin: 0;
    padding: 0;

}

/* Define the screen for the mobile version */
@media (max-width: 760px) {
    nav {
        display: flex;
      margin: 10px;
      align-items: center;
    
    }

    .mobile_menu {
        /* mobile_menu wrapper: stack bars vertically and keep left-aligned */
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: flex-start;
  justify-content: center;
  cursor: pointer;

  
}
.mobile_menu p{
    padding:2px 15px ;
    background-color: black;

}
    

   .desktop_menu {
        display: none;  
    } 
  .logo{
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 12px; /* base font for small screens */
    text-align: center;
    margin-left: 25% ;
    
  }

    .logo img {
        height: auto;
        width: 100px;
        display: block;
    }

    .mobile menu img {
        height: 40px;
        width: auto;
        display: block;
    }
.hero{
    display: flex;
    flex-direction: column;
   padding: 0 10px;
    gap: 5px;
    
}
.hero1{
background: url(../images/hero_background.png);
    background-size: cover;
    padding: 100px 5px 10px 5px;
    background-repeat: no-repeat;
}
.hero1 p{
    color: #f85742;
    font-size: 15px;
   
   }
   .hero1 h1{
              background-color: #2f8d46;
          background-image: url(../images/header-back.webp);
            background-repeat: repeat;
            background-size: cover;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-size: 27px;
            font-weight: bold;
            text-transform: uppercase;         
           
}
.hero1 h1 span{
    padding-right: 100px;
    
}
.hero2{
    background-color: #f8f8f8;
    padding: 10px 2px;
    font-size: 13px;
}
.venu{
    background: url(../images/hero_background.png);
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;

}
.main_program{ 
    background: url(../images/prog_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
}
.program_title{
color: white;
margin-top: 20px;
margin-bottom: 50px;

}
.program_cards{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px 15px;
    margin-bottom: 20px;
}
.program_card{
    display:flex ;
    background-color: #3b3e45;
    opacity: 50%;
    border-radius: 8px;
    gap: 10px;
    padding: 10px 15px;
    height: 80px;
    justify-content: center;
    align-items: center;
    color: #fff;
}
.program_card h3{
    color: #ff4f38;

}
.program_card img{
    width: 30px;
    height: 40px;
    background-color: #fff;

}
.submit_button{
    text-align: center;
    justify-content: center;
    flex-direction: column;
}
.submit_button button{
    padding: 30px 0;
    border: none;
    background-color: #ff4f38;
    color: #f8f8f8;
    font-size: 18px;
    font-weight: 100;
    width: 290px;
    border-radius: 8px;
    
}
.speaker{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;

}
.speaker_title {
   text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    
}
.speaker_title h2{
    font-size: 24px;
}
.speaker_title p{
    
    margin: 15px auto;
    padding: 2px 25px;
    background-color: #ff4f38;
}
.speaker_cards1{
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    justify-content: center;
  }

.speaker_card{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    gap: 10px;
    padding:10px 5px ;

}

.speaker_card img{
    width: 22px;
    height: 13px;
}
.speaker_description{
    text-align: center;
gap: 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.speaker_description h3{  

font-size: 18px;
}
.speaker_description  p{
    color: #f85742;
    font-size: 10px;
}
.speaker_description p p{
     width: 20%;
    margin: 15px auto;
    padding: 2px;
    background-color: #3b3e45;
}
.speaker_description  h6{
    
    font-size: 10px;
}
.speaker_button { 
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    padding: 10px 10px;
    width: 360px;
    background-color: #fff;
    border: 1px solid grey;
    border: none;
    margin-bottom: 10px;
    border-radius: 4px;
      }

.speaker_button img{
width: 11px;

padding: 9px;
}
.speaker_button span{
    font-size: 14px;
    font-weight: 700;
  
    
}
/*about styling*/
.hero_content{

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
   
}
.hero{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;  
background: url(../images/about\ bg.png);
 background-repeat: no-repeat;
 background-position: center;
 background-size: cover;
    padding: 20px 12px 20px 10px;
 

}
.hero h1{
    
    font-size: 28px; 
    font-weight: bold; 
    margin: 2px;
    margin-bottom: 40px;
    color: #ff4f38;
    
           
}
.hero h2{
    font-size: 18px;
    font-weight: bold;
    color:#f85742 ;
    
    
}
.hero_text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.hero_text p{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 10px;
    font-size: 16px;
    align-items: center;
    text-align: center;
    gap: 10px;
    
}
.date_venu{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    background-color: #f9f9f9;
    

}
.date_venu p{
    margin: 10px;
    font-size: 16px;
    align-items: center;
    text-align: center;
    gap: 15px;
    padding: 10px;
}
.date_venu span{
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 20px;
}
.logo_info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;

}
.logo_info p{
    width: 10%;
    margin: 15px auto;
    padding: 2px25px;
    background-color: #ff4f38;
}
.logo_info h2{
     margin-top: 20px;
     margin-bottom: 20px;
    font-size: 30px;
    align-items: center;
    text-align: center;
    gap: 15px;
    padding: 10px;
}
.logo_info span{
     margin: 10px;
    font-size: 14px;
    font-weight: 700;
    align-items: center;
    text-align: center;
    gap: 15px;
    padding: 10px;
}

.logo_image{
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 12px; /* base font for small screens */
    text-align: center;
    margin-top: 10px;
    margin-bottom: 30px;
    color:#ffffff;

    
}
.previous_summit{
     display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;

}
.previous_summit h2{ 
    margin-top: 30px;
     margin-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
    align-items: center;
    text-align: center;
    gap: 10px;
    padding: 10px;
}
.previous_summit  p{
     width: 10%;
    margin: 10px auto;
    padding: 3px 25px;
    background-color: #ff4f38;
}
.previous_summit span{
     margin-bottom: 20px;
    font-size: 18px;
    align-items: center;
    text-align: center;
    gap: 15px;
    padding: 10px;
}

.speaker_card{
display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;


    
}
.speaker_card img{
    display: flex;
    flex-direction: column;
    width: 375px;px;
    height: 216px;
    border-radius: 8px;
    top: 20px;  
    bottom: 40px;   
    gap: 10px; 
    
            
}

.partner{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #3b3e45;
text-decoration: none;
margin-top: 40px;
width: 500px;
height: 300px;

   
}
.partner_content{
    display: flex;

    justify-content: center;
    text-align: center;
    flex-direction: column;
    align-items: center;
    
 

}
.partner_content h3{
    font-size: 30px;
    color: #f8f8f8;


}
.partner_content p{
    width: 10%;
    margin: 10px auto;
    padding: 2px 25px;
    background-color: #ff4f38;
}
.partner_logos{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
    
}
.partner_logos img{
    width: 80px;
    height: 60px;
   
}
.partner_card1,.partner_card2{
    width: 334px;
    height: 182px;
 background-size: cover;
 background-position: center;
}
.partner_card1{
       background-image: url(../images/archive1\ \(2\).jpeg);
}
.partner_card2{
    background-image: url(../images/arch.jpeg);
}
.sub_partner_card{
    background-color: #f85742;

    position: absolute;
    z-index: 1000;
     width: 334px;
    height: 182px;
    opacity: 40%;
}
.sub_partner_card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    position: absolute;
    z-index: 2000;
}
.sub_partner_card h3{
    font-size: 6px;
    margin: 0;
    color: #fff;
    opacity: 50px;
    
 
}
.footer{
    display: flex;
  
}
.footer_logo{
  
   display: flex;
   gap: 30px;
   font-size: 20px;
   
   
    
}
.footer_logo img{
   width: 150px;
   height: 40px;
margin-top: 20px;
margin-bottom: 20px;


}
.footer_logo p{
  font-size: 16px;
    margin-bottom: 20px;
    margin-top: 20px;
    

}



}






























































}
}




























































































































































}






























































































































}






    























}

    





































































































   
    