/*general styles*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

  }
  nav {
    color: white;
    padding: 10px;
    flex-direction: column;
    align-items: center;

  }

  .logo {   
    font-size: 24px;
    font-weight: bold;
    margin-right: 20px;
    flex-direction: column;
    position: center;
 }